{% extends 'ok88/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="row">
        <div class="col-md-12">
            {% for article in all_article %}
                <div class="thumbnail">
                    <div row marketing>
                        {% for thumb in article.article_thumbs %}
{#                            <img src="{% static "ok88/images/thumbnail/big/thumbnail.jpg" %}" height="100" width="180" alt="...">#}
                            <img src="{% static thumb %}" height="120" width="225" alt="...">
                        {% endfor %}
                    </div>
                    <div class="caption">
                        <h4>{{ article.article_title }}</h4>
                        <p><a href="/ok88/detail/{{ article.article_id }}" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                           class="btn btn-default"
                                                                                           role="button">Button</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

