{% extends 'ok88/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="row">
        <div class="col-md-12">
            {% for article in all_article %}
                <div class="thumbnail">
                    <div row marketing>
                        {% for thumb in article.article_thumbs %}
                            <img src="{% static thumb %}" height="120" width="225" alt="...">
                        {% endfor %}
                    </div>
                    <div class="caption">
                        <h4><a href="/ok88/detail/{{ article.article_id }}">{{ article.article_title }}</a></h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

